<div>
  <mat-card *ngFor="let item of productList">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Leírás: {{item.description}}<br>
      Ár: {{item.stock_quantity}}<br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="changeToView()">Megtekintés</button>
      <button mat-raised-button (click)="addToCart(item.productID)">Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
</div>
